div:hover{
  border: 2px solid 
}
/*
o nth child conta por elemento
*/
div:nth-child(3){
  background-color:rgb(253, 249, 5);
  color: rosybrown;
  font-style: italic;
}
div:nth-child(4){
  background-color: rgb(253, 196, 255);
  color:rgba(177, 177, 177, 0.842);
}
div:nth-child(5){
  background-color: rgb(180, 176, 176);
  color: rgb(201, 213, 224);
  padding:12px;
  font-style: italic;
}
div:nth-child(6){
  background-color: rgb(79, 51, 99);
  color:rgb(228, 228, 228);
}
div:nth-child(7){
  background-color: rgb(247, 240, 185);
  color:rgb(179, 214, 214);
  font-style: italic;
}
/*
nth-of-type: Ele conta o elemento div e depois aplica somente no filho direto com " > "
 que nesse caso é o elemento h3

div :nth-of-type(1) > h3{
  color:snow;
}
div:nth-of-type(2) > h3{
  color: rgb(204, 204, 198);
}
div:nth-of-type(3) >h3{
  color:rgb(138, 225, 228);
}
div:nth-of-type(4)>h3{
  color:rgb(238, 238, 238);
}
etc.. Outro jeito de fazer. */